<%- include ("header.ejs") %>

<main>
    <div class="edit-form">
        <form action="/update/:id" method="post">

            <span class="edit-todo">To do:</span>
            <input type="text" name="text" class="editinput" value="<%=response.text%>">
            
            <span class="edit-todo">Priority:</span>
            <input type="text" name="prio" class="editinput" value="<%=response.prio%>">

            <input type="text" name="id" value="<%=response._id%>" hidden>
            <button type="submit" class="updatebutton">Update</button>

        </form>
    </div>
</main>


<%- include ("footer.ejs") %>
